
<h3>GLOBAL PACMAN SYSTEM</h3>

<label for="name">Map name:</label>
<input type="text" name="name" id="name" /> 

<div id="map" style="width: 320px; height: 400px;"></div>

<select id="vertices" multiple="multiple">
</select>

<br/>

<a href="#" id="join">join vertices</a>
<a href="#" id="remove_vertices">remove vertex/vertices</a>

<br/>
<br/>

<label for="long">Long:</label>
<input type="text" id="long" name="long" />

<br/>

<label for="lat">Lat:</label>
<input type="text" id="lat" name="lat" />

<br/>

<a href="#" id="add">add vertex</a>

<br/>
<br/>

<select id="edges" multiple="multiple">
</select>

<br/>

<a href="#" id="remove_edges">remove edge(s)</a>

<br/>
<br/>

<label for="pacman_home">Pacman home vertex:</label>
<input type="number" name="pacman_home" id="pacman_home" />

<br/>

<label for="ghost_home">Ghost home vertex:</label>
<input type="number" name="ghost_home" id="ghost_home" />

<br/>
<br/>

<a href="#" id="create">Create map</a>

<script type="text/javascript" src="/static/js/map_editor.js" ></script>

