<!DOCTYPE html>

<html>
   <head>
      <title>
         GPS: Global Pacman System
      </title>

      <meta name="viewport" content="width=320px, initial-scale=1, maximum-scale=1">
      <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

   </head>
   <body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/scripts/underscore.js" type="text/javascript" charset="utf-8"></script>

      <div id="container">
         <%- body %>
      </div>
         <iframe src="http://nodeknockout.com/iframe/team-ig" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
         </iframe>

   </body>
</html>
