<!DOCTYPE html>

<html>
   <head>
      <title>
         GPS: Global Pacman System
      </title>

		<link media="only screen and (max-device-width: 480px)"
			href="/static/css/mobile.css" type="text/css" rel="stylesheet" />
		<link media="only screen and (min-device-width: 480px)"
			href="/static/css/desktop.css" type="text/css" rel="stylesheet" />

      <meta name="viewport" content="width=320px, initial-scale=1, maximum-scale=1">

   </head>
   <body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">

		<script src="/static/scripts/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
      <script src="/static/scripts/underscore.js" type="text/javascript" charset="utf-8"></script>

      <div id="container">
         <%- body %>
      </div>

   </body>
</html>
